# OS
.DS_Store

# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Reports (keep folder, ignore generated images)
reports/figures/*.png

# Optional: ignore big downloads (keep CSVs if you want the repo to be runnable)
# data/*.zip
# data/*.parquet
